@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #222;
    height: 100%;
    overflow: hidden;
}

.loginForm {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1000px;
}

.mainText {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 85px;
}

.username {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.password {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.submitButton {
    background-color: #2ff52f;
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.submitButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}